.alignmentPanel{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
}

.contentPanel{
    display: flex;
    justify-content: center;
    height: 450px;
    width: 250px;
    background-color: #000000;
}
.recordSprite img{
    margin-top: 10px;
    width: 150px;
    height: 150px;
}