.alignmentPanel{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
}

.contentPanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 250px;
    background-color: #000000;
}
.recordSprite img{
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}
.songInfo{
    font-family: 'Helevetica', sans-serif;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.songInfo h2{
    font-size: 24px;
    margin-bottom: 0px;
}
.songInfo p{
    font-size: 18px;
    margin-top: 2px;
}
.ProgressBar{
    margin-top: 0px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

}
.progressSlider{
    width: 150%;
}